@page "/table"

<h1>Personen Liste</h1>

<p>Dies ist eine Liste mit 1000 Einträgen</p>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PersonTable Persons="persons"></PersonTable>
}
