@page "/videolist"

<div class="container">
    <h1>Videomania</h1>

    Wilkommen zum Videoplayer dieser Bachelor Arbeit


    @if (Videos == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row mt-3">
            @foreach (var Video in Videos)
            {
                <VideoTile VideoData="Video"></VideoTile>
            }


        </div>
    }
</div>