
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="navbar-brand" href="todo">
                ToDo
            </NavLink>
            <NavLink class="navbar-brand" href="videolist">
                Videos
            </NavLink>
            <NavLink class="navbar-brand" href="table">
                Tabelle
            </NavLink>
            <NavLink class="navbar-brand" href="quicksortstring/100000/false/0/false">
                Quicksort mit Strings
            </NavLink>
            <NavLink class="navbar-brand" href="quicksortnumbers/100000/false/0/false">
                Quicksort mit Zahlen
            </NavLink>
        </div>
    </nav>

