<table class="table">
    <thead>
    <tr>
        <th>Forename </th>
        <th>Surname </th>
        <th>Company </th>
        <th>Mail </th>
        <th>Date Registered </th>
        <th>Phone </th>
        <th>Personal Number </th>
        <th>Street </th>
        <th>City </th>
        <th>Postal Code </th>
        <th>Country </th>
        <th>ID </th>
        <th>Is Active </th>
        <th>Date </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Persons)
    {
        <PersonTableRow Person="person"></PersonTableRow>
    }
    </tbody>
</table>