<div class="col-4">
    <div class="card">
        <div class="image-container">
            <img class="card-img-top" src="@ThumbNailUrl">
        </div>
        <div class="mt-2">
            <h5 class="card-title">@VideoData.title</h5>
            <p class="card-text">@VideoData.description</p>
            <NavLink class="btn btn-primary btn-block" href="@VideoUrl">
                Zum Video
            </NavLink>
        </div>
    </div>
</div>